.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333; 
    color: #fff; 
    position: relative;
    width: 95%;
    bottom: 0;
    margin-top: 1rem;
  
    .footer-left {
      display: flex;
      align-items: center;
  
      .footer-logo {
        height: 20px;
        margin-right: 0.5rem;
      }
  
      span {
        font-size: 1rem;
      }
    }
  
    .footer-right {
      .back-to-top {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        text-decoration: none;
        transition: color 0.3s ease;
  
        &:hover {
          color: #00bcd4; 
        }
  
        .arrow {
          margin-left: 0.3rem;
          font-size: 1.2rem;
        }
      }
    }
  }
  